body {
  font-family: Lato;
  background-image: url("./assets/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 98vh;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0px 0px 1px black;
  margin-top: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

button,
input[type="text"] {
  font-size: 1.25rem;
  padding: 0.75rem;
  font-family: Lato;
  font-weight: 900;
  letter-spacing: 2px;

}

button {
  background-color: rgb(30, 163, 225);
  border: none;
  color: whitesmoke;
  cursor: pointer;
}

.app-title {
  color: rgba(30, 163, 225, 0.9);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-direction: column;

}

/* weather information */
.data-container {

  margin-top: 20px;
  background-color: rgba(30, 163, 225, 0.1);
  box-sizing: border-box;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 3rem;
  margin: 0;
  padding-top: 0.75rem;

}

.date {
  color: rgb(6, 6, 6);
  margin-top: 0;
  font-size: 1.25rem;
}

.temp-container h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0px 0px 1px black;
}

.icon {
  height: 150px;
  width: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.desc {
  margin-top: 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #070707;
  ;
}

/* other info */
.other-info {

  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: auto;

}

.other {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(65, 135, 158, 0.5);
  border-radius: 10px;
  margin: 1rem;
}

.other h2 {
  margin-bottom: 0;
}

.other h3 {
  margin-top: 5px;
  font-size: x-large;
}

.change-order {
  order: 0;
}

@media(max-width: 750px) {
  .other-info {
    grid-template-columns: 1fr 1fr;
    background-image: url("./assets/cover2.jpg");
    background-position: top;
    background-size: cover;
  }
}

@media(max-width: 500px) {
  .other-info {
    grid-template-columns: 1fr;
  }
}